<% provide(:title, "About") %>
<h1>about Danny Yu</h1>

<p>I currently attend Binghamton University as an undergraduate pursuing a B.S. in Computer Science, and expect to graduate in May 2014.</p>
<p>
<br />
<p>I am currently seeking an internship or entry-level Ruby on Rails developer position.</p>
<%= link_to "Resume", "https://s3.amazonaws.com/dannyyusite/uploads/DannyYuResume11-16-13.pdf", class: "btn btn-primary" %>
<%= link_to "LinkedIn", "http://www.linkedin.com/pub/danny-yu/80/603/831/", class: "btn btn-primary" %>