<% provide(:title, "Contact") %>

<h1>contact</h1>
<p>If you would like to get a hold of me, shoot me an email me at dyu6@binghamton.edu: </p>

<%= mail_to "dyu6@binghamton.edu", "Email Me", class:"btn btn-primary" %>